
section {
  margin: 10px 5px;
  padding: 15px;
}


pre {
  font-family: 'Cascadia Code';
  
}

.type-variant {
  display: flex;
  height: 30px;
  align-items: center;
  align-content: center;
  cursor: pointer;

}

.type-variant-sig {
  display: block;
  width: 100%;
  height: 26px;
  margin: 0;
  line-height: 26px;
  padding-left: 15px;
  font-size: 16px;
  border-radius: 15px;  
}

.type-variant-btn {
  display: block;
  width: 80px;
  height: 20px;
  margin: 0;
}

.type-variant-btn.active {
  background-color: #b1b9bd;
}

.deduction-grid {
  display: grid;
  grid-template-rows: repeat(var(--row-number), 15px);
  grid-template-columns: repeat(var(--col-number), 1fr);
  background-color: var(--normal-color);
  grid-row-gap: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  padding: 10px;
  transition: background-color 200ms ease-in-out;
}

.deduction-grid.active {
  background-color: var(--hover-color);
}

.deduction-col.relevent {
  background-color: var(--hl-color);
}